@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .info-img {
    width: 360px !important;
  }
  .info-content p {
    font-size: 24px !important;
    width: 550px;
  }
  .info-bg {
    top: 80% !important;
  }
  .page-1-img {
    width: 450px !important;
    height: auto !important;
  }
  .page-2-img {
    width: 750.8px !important;
    height: auto !important;
  }
}
@media only screen and (min-width: 764px) and (max-width: 991px) {
  .info-img {
    margin-left: 0px !important;
    width: 100% !important;
    margin-top: 15px;
    height: auto;
  }
  .info-content p {
    width: 100% !important;
    text-align: justify;
    font-size: 20px !important;
  }
  .info-bg {
    top: 65% !important;
    left: 0%;
    width: 11% !important;
  }
  .page_1_img {
    text-align: center;
  }
  .catagory {
    display: flex;
    justify-content: space-evenly;
  }
  .catagory-title {
    margin-top: 20px;
    text-align: center;
  }
  .page-2-img {
    width: 575px !important;
    height: auto;
  }
  .page-2-bg {
    bottom: -14%;
    right: 0%;
    height: 90% !important;
    width: 20%;
  }
}
@media only screen and (min-width: 574px) and (max-width: 766px) {
  .header-img {
    width: 100px !important;
    height: auto !important;
    border-radius: 21px !important;
  }
  .header-center {
    justify-content: center;
  }
  .info-img {
    margin-left: 0px !important;
    width: 70% !important;
    margin: 0px auto;
    margin-top: 20px;
    height: auto;
  }
  .info-content {
    text-align: center;
  }
  .info-content p {
    width: 450px !important;
    margin: 0px auto;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .info-bg {
    top: 65% !important;
    left: 0%;
    width: 14% !important;
  }
  .catagory {
    display: flex;
    justify-content: space-evenly;
  }
  .catagory-title {
    margin-top: 20px;
    text-align: center;
  }
  .page_1_img {
    text-align: center;
  }
  .page-1-img {
    width: 350px !important;
    height: auto;
  }
  .page-2-img {
    width: 450px !important;
    height: auto;
  }
  .page-2-bg {
    bottom: -14%;
    right: 0%;
    height: auto !important;
    width: 20%;
  }
  .page-3-img {
    width: 250px !important;
    height: auto;
  }
  .tree-section {
    justify-content: center !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 573px) {
  .header-img {
    width: 100px !important;
    height: auto !important;
    border-radius: 21px !important;
  }
  .title-css {
    font-size: 30px !important;
  }
  .common-css {
    font-size: 24px;
  }
  .info-content {
    text-align: center;
  }
  .info-content p {
    width: 450px !important;
    margin: 0px auto;
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .header-center {
    justify-content: center;
  }
  .header-bg {
    display: none;
  }
  .info-bg {
    display: none;
  }
  .info-img {
    margin-left: 0px !important;
    margin-top: 20px;
  }

  .catagory {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
  }
  .catagory-title {
    margin-top: 20px;
    text-align: center;
    font-size: 45px !important;
  }
  .page-2-bg {
    display: none;
  }
  .page-2-img {
    width: 450px !important;
    height: auto;
  }
  .page-3-img {
    width: 250px !important;
    height: auto;
  }
  .tree-bg {
    display: none;
  }
  .tree-section {
    justify-content: center !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-img {
    width: 100px !important;
    height: auto !important;
    border-radius: 21px !important;
  }
  .header-center {
    justify-content: center;
  }
  .title-css {
    font-size: 30px !important;
  }
  .common-css {
    font-size: 30px;
  }
  .header-bg {
    display: none;
  }
  .info-content {
    text-align: center;
  }
  .info-content p {
    width: 80% !important;
    margin: 0px auto;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .info-img {
    width: 300px;
    height: auto;
    margin-left: 0px !important;
    margin-top: 20px;
  }
  .info-bg {
    display: none;
  }

  .catagory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0px;
  }
  .catagory-title {
    margin-top: 20px;
    text-align: center;
    font-size: 45px !important;
  }
  .page_1_img {
    text-align: center;
  }
  .page-1-img {
    width: 300px !important;
    height: auto !important;
  }
  .page-1-h2 {
    font-size: 25px !important;
    bottom: 50px;
    right: 30%;
  }
  .page-2-bg {
    display: none;
  }
  .page-2-img {
    width: 95% !important;
    height: auto;
  }
  .page-3-img {
    width: 200px;
    height: auto;
  }
  .tree-bg {
    display: none;
  }
  .tree-section {
    justify-content: center;
  }
}
